@import 'global-styles.css';

#settings {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
}
.heading {
  margin-top: auto;
}
label {
  font-size: 28px;
}
input,
textarea {
  font-size: 20px;
  width: 550px;
  height: 54px;
  background: var(--clr-primary-8);
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem;
}
textarea {
  height: 70px;
}
#form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divider {
  width: 2px;
  height: 60vh;
  margin: 0 4rem;
  background: var(--clr-primary-5);
}
.form-items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.form-items > * {
  align-items: baseline;
}
