@import 'global-styles.css';

#splash-screen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.eye-image {
  width: 200px;
  height: 160px;
}
.heading {
  margin-top: 2rem;
  font-weight: 400;
}
