<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/singleDetection.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/result.css')}}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="top-cont">
        <img class="main-image" id="inputImage" src="{{url_for('static', filename='blankImage.png')}}"
            alt="Placeholder image" />
        <div class="main-actions">
            <div class="normal-btn" onclick="document.getElementById('fileInput').click();">
                <input type="file" name="files[]" id="fileInput"  />Choose Image
            </div>
            <button type="button" class="normal-btn" id="uploadFile" value="Detect" style="display: flex; justify-content: space-between;align-items: center;" >
                <span>Detect</span>
                <div class="loader"></div>
            </button>
            </form>
        </div>
    </div>
    <div class="horizontal-seperator"></div>
    <div class="bottom-cont">
        <div class="result-cont">
            <img class="result-image" src="{{url_for('static', filename='blankImage.png')}}" />
            <div class="result-body" id="body">
                Predicted Result: Unknown
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='/js/singlePage.js') }}"></script>
</body>

</html>